extends layout

block content
  div(class='ui main top fixed inverted menu')
    div(class='menu_container')
      div(class='title item' href='#') #{title.toUpperCase()}
      div(class='right menu')
        a(class='item' id='solarsystem_button') 
          i(class='sun icon')
          | Solar System
        a(class='item' id='earth_button')
          i(class='globe icon')
          | Earth
        a(class='item' id='launch_button')
          i(class='red rocket icon')
          | Launch !
  canvas(id='demo' width="1200" height="600")

  script(src='/javascripts/main_controller.js')
  script(src='/javascripts/solar_view.js')
  // script(src='/javascripts/app.js')