body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-image: url("/images/backgroung.png")
a
  color: #00B7FF

.menu_container
  margin-left: 225px
  margin-right: 125px


